@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 222, 90;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Space Grotesk', sans-serif;
}

.shadow-brutal {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Blog post styles */
.prose {
  @apply text-black;
}

.prose h2 {
  @apply text-2xl sm:text-3xl font-bold mt-8 mb-4;
}

.prose p {
  @apply mb-4 text-base sm:text-lg;
}

.prose a {
  @apply underline;
}